<form (ngSubmit)="f.form.valid && onAddValues()" #f="ngForm">
    <div class="agregar">
        <div class="agregar_contenedor">
            <select (change)="typeOperation($event)" [ngClass]="{'redfocus': type ==='egr' }" class="agregar_tipo" name="optionSelected" [(ngModel)]="optionSelected">
                <option value="ing" selected>+</option>
                <option value="egr">-</option>
            </select>
            <input [ngClass]="{'redfocus': type ==='egr' }" type="text" class="agregar_descripcion" placeholder="Agregar Descripción" name="description" [(ngModel)]="description" required>
            <input [ngClass]="{'redfocus': type ==='egr' }" type="number" class="agregar_valor" placeholder="Valor" name="valueAdd" [(ngModel)]="valueAdd" required>
            <button class="agregar_btn"><i class="ion-ios-checkmark-outline" [ngClass]="{'red': type ==='egr' }" (submit)="onAddValues()"></i></button>
        </div>
    </div>
  </form>